<mat-toolbar color="primary">
  <span> &nbsp; </span> 
  <span noWrap=false> Weather Widget </span>
  <span class="example-spacer"></span>
  <span> &nbsp;</span>
</mat-toolbar>

<mat-card class="example-card">
  
  <img mat-card-image src={{imageurl}} alt="Photo of Weather">

  <mat-card-content>
    <p>
        <mat-form-field>
          <select matNativeControl name="country" #selection placeholder="select country" required ngModel (change)="changeCountry(selection.value)">
            <option value="Singapore">Singapore</option>
              <option value="Beijing">Beijing</option>
                <option value="London">London</option>

          </select>
        </mat-form-field>
    </p>
    <p>
      Country : {{model.country}}
    </p>
    <p>
      Temperature : {{model.temp - 273.15 | number}}
    </p>
    <p>
      Pressure : {{model.pressure | number}} hPa
    </p>
    <p>
      Humidity : {{model.humidity | number}} %
    </p>
    <p>
      Remarks : {{model.description }} 
    </p>
    <p>
      Wind Speed - Degree : {{model.windSpeed }} - {{model.windDegree }} 
    </p>
  </mat-card-content>
  
</mat-card>